@import 'tailwindcss';
@import './fonts.css';
@import './themes.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'General Sans', sans-serif;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
