@theme inline {
  --color-neutral-50: #fff;
  --color-neutral-100: #f8f9fb;
  --color-neutral-400: #dfe0e7;
  --color-neutral-500: #c3c4cd;
  --color-neutral-600: #a3a6b7;
  --color-neutral-700: #72747d;
  --color-neutral-800: #3f4047;
  --color-neutral-900: #2c2c30;

  --color-primary-50: #eff8ff;
  --color-primary-600: #0169cd;
  --color-primary-700: #005dc5;
  --color-primary-800: #004baf;

  --color-error-500: #ef4c49;
}
